@charset "UTF-8";

.cf::after {
  content: '';
  display: block;
  clear: both;
}

img {
  vertical-align: bottom;
  width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font: 14px "ヒラギノ明朝 ProN W6", "HiraMinProN-W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
}

.header-top {
  padding: 10px 0 13px;
  background: url(../img/bg_line.png) repeat left bottom;
  text-align: right;
  color: #959595;
}

.inner {
  width: 1200px;
  margin:0 auto;
}

.keyword {
  font-size: 12px;
}

.header-info {
  margin-left: 10px;
  padding: 6px 14px;
  background: #ffff69;
  color: #777;
  border-radius: 5px;
}

.header-main {
  padding: 30px 0;
}
